body {
  font-family: Arial, sans-serif;
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.timeline-container {
  width: 80%;
  max-width: 1000px;
  margin: auto;
}

.timeline-details {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 90px;
  position: relative;
  z-index: 1;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.timeline-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
  transition: transform 0.5s ease;
}

.timeline-text {
  text-align: left;
}

.timeline-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #000000;
  transition: opacity 0.3s ease;
}

.timeline-description {
  max-width: 270px;
  font-size: 16px;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #000000;
  transition: opacity 0.3s ease;
}

.timeline {
  display: flex;
  flex-direction: row; /* Default for larger screens */
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 50px;
  padding: 0 40px;
}

.timeline-line {
  position: absolute;
  top: 0; /* Default positioning for larger screens */
  left: 0;
  width: 4px;
  background-color: #ddd;
  z-index: 0;
  transition: width 0.5s ease, left 0.5s ease, top 0.5s ease, height 0.5s ease;
  transform: translateY(0); /* Default */
}

.timeline-entry {
  text-align: center;
  position: relative;
  flex-grow: 1;
  cursor: pointer;
  z-index: 1;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.timeline-dot {
  width: 16px;
  height: 16px;
  background-color: #ddd;
  border-radius: 50%;
  margin: 0 auto;
  transition: background-color 0.3s ease, transform 0.3s ease;
  position: relative;
  z-index: 2;
  top: -38px;
}

.timeline-dot.active {
  background: radial-gradient(circle closest-side, #ffffff 50%, #007bff 50%);
}

.timeline-date {
  margin-top: 10px;
  margin-bottom: 50px;
  color: #666;
  font-size: 14px;
  transition: color 0.3s ease;
  z-index: 1;
}

.timeline-entry.active .timeline-date {
  color: #333;
  font-weight: bold;
}

@media (max-width: 768px) {
  .timeline-details {
    flex-direction: column;
    align-items: center;
  }

  .timeline-image {
    margin-bottom: 20px;
  }

  .timeline-text {
    text-align: center;
  }

  .timeline {
    flex-direction: column; /* Stack timeline entries vertically on mobile */
    padding: 0;
  }

  .timeline-line {
    width: 4px;
    height: auto;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .timeline-entry {
    margin-bottom: 20px;
    position: relative;
  }
  .timeline-date {
    margin-bottom: 10px;
  }

  .timeline-dot {
    top: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
