body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.timeline-container {
  width: 80%;
  max-width: 1000px;
  margin: auto;
}

.timeline-details {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 90px;
  position: relative;
  z-index: 1;
}

.timeline-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
}

.timeline-text {
  text-align: left;
}

.timeline-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #000000;
}

.timeline-description {
  max-width: 270px;
  font-size: 16px;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #000000;
}

.timeline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 50px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

.timeline-line {
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  background-color: #ddd;
  z-index: 0;
  transform: translateY(-50%);
  transition: width 0.3s ease, left 0.3s ease;
}

.timeline-entry {
  text-align: center;
  position: relative;
  flex-grow: 1;
  cursor: pointer;
  z-index: 1;
}

.timeline-dot {
  width: 16px;
  height: 16px;
  background-color: #ddd;
  border-radius: 50%;
  margin: 0 auto;
  transition: background-color 0.3s ease;
  position: relative;
  z-index: 2;
  top: -15px;
}

.timeline-dot.active {
  background: radial-gradient(circle closest-side, #ddd 50%, #007bff 50%);
}

.timeline-date {
  margin-top: 10px;
  color: #666;
  font-size: 14px;
  transition: color 0.3s ease;
  z-index: 1;
}

.timeline-entry.active .timeline-date {
  color: #333;
  font-weight: bold;
}

@media (max-width: 768px) {
  .timeline-details {
    flex-direction: column;
    align-items: center;
  }

  .timeline-image {
    margin-bottom: 20px;
  }

  .timeline-text {
    text-align: center;
  }

  .timeline {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }

  .timeline-entry {
    margin-bottom: 20px;
  }

  .timeline-details {
    margin-top: 20px;
  }
}
